@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Source+Sans+Pro:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li, ol li {
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;    
}

/* header */

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #fff;
  max-height: 72px;
  font-weight: 700;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__img {
  max-width: 184px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.menu__item {
  margin-right: 35px;
}

.menu__link, 
.login__link {
  font-size: 14px;
  color: #222B3A;
}

.menu__link:hover,
.login__link:hover {
  border-bottom: 2px solid #0099DD;
}

.login {
  position: relative;
}

.login::before {
  position: absolute;
  content: ' ';
  background-image: url(./images/user.svg);
  background-size: cover;
  left: -22px;
  top: 2px;
  width: 14px;
  height: 14px;
}

/* main */


.main {
  background-color: #FFFFFF;
}

.hero {
  background-image: url(./images/header-bg.jpg);
  color: #FFFFFF;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.hero__title {
  font-family: 'Intro', sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 53px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #FFFFFF;
  padding-top: 70px;
  margin-bottom: 10px;
}
.hero__subtitle {
  font-family: 'Intro', sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #F78000;
  margin-bottom: 30px;
  
}
.hero__button {
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 12px 40px;
  font-size: 14px;
  line-height: 17px;
  border-radius: 4px;
  margin-bottom: 70px;
}
.hero__button:hover {
  background-color: #F78000;
}

.hero__progress {
  max-width: 468px;
}

/* courses section */

.breadcrumbs {
  padding: 14px 0;
  font-weight: 700;
}

.breadcrumbs__link {
  position: relative; 
  margin-right: 50px;
  color: #979FAD;

}

.breadcrumbs__link:nth-child(n+2)::before {
  content: ' ';
  position: absolute;
  width: 22px;
  height: 1px;
  background-color: #979FAD;
  top: 10px;
  left: -36px;
}

.breadcrumbs__link:last-child {
  margin-right: 0;
  color: #323232;

}
.courses-choise {
  background-color: #FAFAFA;
  padding: 24px 0;
  margin-bottom: 26px;
}

.courses-choise__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses-choise__header {
  font-family: 'Google Sans', sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  color: #222B3A;
  position: relative;
  margin-left: 34px;  
}

.courses-choise__header::before {
  content: ' ';
  position: absolute;
  width: 22px;
  height: 2px;
  top: 10px;
  left: -34px;
  background-color: #222B3A;
}

.courses-choise_dropdown {
  position: relative;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #F78000;
  border: 2px solid #F78000;
  border-radius: 3px;
  padding: 12px 50px 12px 15px; 
}

/* articles */

.article {
  display: flex;
  justify-content: space-between;
  border: 1px solid #F3F3F3;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  margin-bottom: 19px;
}

.article__count {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 150px;
  padding: 20px;
}

.article__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.article__count_number {
  font-family: 'Google Sans', sans-serif;
  font-size: 64px;
  line-height: 81px;
  color: #E1E1E1;
  margin-bottom: 20px;
}

.article__count_age {
  font-family: 'Google Sans';
  font-size: 11px;
  line-height: 14px;
  color: #027EB4;
  background-color: #DFF5FF;
  padding: 3px;
}

.article__content_title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue-title);
  margin-bottom: 8px;
}
.article__content_subtitle {
  position: relative;
  color: #979FAD;
  margin-left: 23px;
  margin-bottom: 15px;
}

.article__content_description {
  max-width: 800px;
  font-family: 'Google Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #696969;
  margin: 10px 0;
}

.article__content_date {
  font-weight: 700;
  line-height: 27px;
}
.article__content_date span {
  color: #F78000;
  text-decoration: underline;
}

.article__learning-progress {
  padding: 20px;
}